.ToolbarAlt {
    height:56px;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    box-sizing:border-box;
    z-index:90;
    }
    .Toolbar nav {
        height:100%;
        
    }
    .uList {
        margin:0;
        padding:0;
        list-style:none;
        display:flex;
        flex-direction: column;
        align-items:center;
        height:100%;
    }

   .SideDrawer{
       position:fixed;
       width:280px;
       max-width:70%;
       height:100%;
       left:0;
       top:0;
       z-index:200;
       
       padding:2rem;
       box-sizing:border-box;
       transition:transform 0.3s ease-out;
   }

   .Open{
        transform:translateX(0)
   }

   .CLose{
        transform:translateX(-100%)
   }

   @media (min-width:500px){
    .SideDrawer {
        display:none;
    }
   }