.ToolItem {
    margin:0;
    box-sizing: border-box;
    display: flex;
    height:100%;
    align-items: center
}
.ToolItem a {
   color: #ffc107;
   text-decoration: none;
   height:100%;
   padding:1rem;
   border-bottom:4px solid transparent;
}

.ToolItem a:hover, .ToolItem a:active, .ToolItem a.active{
    color: white;
    border-bottom:4px solid #d39e00;
    box-sizing: border-box;
    display: block
}