.ToolbarAlt {
    height:56px;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    box-sizing:border-box;
    z-index:90;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color: #6c757d;
    position:fixed;
    
    }
   .Toolbar nav{
       height: 100%
   }
   @media (max-width:499px){
       .ToolbarAlt {
           
       }
       .DesktopOnly{
           display:none
       }
   }